*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.navigation-section{
    background: #35444f;
    text-align: center;
    margin-bottom: 20px;
}
.navigation-section-item{
    display: inline-block;
    padding: 10px;
    color: white;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;

}
.navigation-section-item:hover{
    background: #222f3a;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

}
.contentWrapper{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    text-align: left;
    padding: 20px 0;
}
.logo-text-blue{
    color: #4BCAFF;
}

.main{
    margin-bottom: 30px;
}
.sidebar{
    display: inline-block;
    width: 24%;
    border: 1px solid #35444f;
    margin: 0;
    margin-right: 72px;
    vertical-align:top;
    overflow:hidden;
}
.sidebar-item{
    text-decoration: none;
    color: #aab1b6;
    display: block;
    padding: 10px 0 10px 40px;
}
.sidebar-item:hover{
    color:black;
    background: #dbdbdb;
    padding-left: 50px;
}
.main-content{
    display: inline-block;
    /*border: 1px solid black;*/
    width: 70%;
}
.main-content-img{
    height: 200px;
    display: inline-block;
    transition: all .2s;
}
.main-content-img:hover{
    transform: scale(1.4);
}
.img-container{
    padding: 75px 0;
    text-align: center;
    border: 1px solid #35444f;
}

.main-content-text-wrapper{
    margin-top: 30px;
    padding-left: 20px;
}

.footer-menu{
    display: block;
    background: #B4B7BA;
    font-size: 0;
    padding: 10px 0;
    padding-left: 44px;
    padding-right:44px;
    margin-bottom: 10px;
}
.footer-menu a{
    font-size: 16px;
}
.footer-menu-item{
    display: inline-block;
    text-decoration: none;
    color: #0c1927;
    border-bottom: 1px solid #B4B7BA;
    margin: 0 15px;
}
.footer-menu-item:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
.copyright{
    font-size: 16px;
    display: inline-block;
    float: right;
}