*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productItem{
    width: 230px;
    height: 430px;
    margin-bottom: 30px;

    &-image{
        height: 230px;
        border: 1px solid black;
        border-radius: 5px;
        overflow: hidden;
    }
    &-descript{
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        padding-top: 25px;
        margin-top: -15px;
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 20px;
                
            }
            button{
                border: none;
                outline: none;
                cursor: pointer;
                background: none;
            }
            img {
                width: 15px;
                height: 15px;
            }
        }
        p{
            padding: 10px 0;
        }
        &-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                padding: 8px;
                background: #333435;
                border-radius: 15px;
                color: white;
                font-size: 10px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}